* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-color: #041c38;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='832' height='832' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23049595' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f9f2a0'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

:root {
  --lineHeightToShadowEdit: 100px;
  --shadowColor1: rgb(30, 224, 150);
  --shadowColor2: #1e90ff;
  --shadowColor3: #ffd700;
  --shadowColor4: #ee5ac9;
  --textColor: black;
  --fontWeight: 700;
  --shadowBlur: 0px;
  --moveSensitivity: 20;
  --upperCase: none;
}

.shadowEdit .colorPicker,
.control .textColor {
  width: 30px;
  height: 20px;
  border: 1px solid black;

  border-radius: 8px;
  display: inline-block;
}

.control .textEdit {
  margin: 20px 0;
}

.control .allShadowEdit {
  margin: 20px 0;
}

.wrap {
  width: 80vw;
  background-color: #049595e7;
  border: 3px solid #f9f1a0d0;
  text-align: center;
  position: relative;
  margin: 0 auto;
  min-height: 800px;
}

.box {
  width: 600px;
  border: 2px dotted black;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 100px;
  margin-top: 100px;
  height: 300px;
}

.box .shadowText {
  color: var(--textColor);
  font-weight: var(--fontWeight);
  font-size: 100px;
  cursor: default;
  line-height: 300px;
}

.txt {
  width: 400px;
  height: 50px;
  position: relative;
  font-size: 40px;
  border: 2px solid black;
  outline: none;
  transition: 0.5s;
  display: block;

  margin: 30px auto;
}

.txt:focus {
  background-color: rgba(255, 255, 255, 0.459);
  transform: scale(1.1);
}

.codes {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.codes h2 {
  flex-basis: 50%;
  text-align: left;
  padding-left: 20px;
}

.cssCopy,
.htmlCopy,
.jsCopy {
  margin: 20px 10px;
  width: 45%;
  flex-grow: 1;
  min-height: 200px;
}

.jsCopy {
  width: 90%;
}

.copyBtn {
  margin-left: 20px;
  width: 70px;
  height: 40px;
  font-size: 21px;
}

.control .shadowEdit {
  background-color: rgba(250, 235, 215, 0.425);
  border: 2px dotted black;
  position: relative;
  height: var(--lineHeightToShadowEdit);
}

.control input {
  margin: 10px;
  width: 150px;
  height: 20px;
}

.control label {
  margin: 20px;
}

.shadowEdit .lab {
  z-index: 5;
  position: relative;
  line-height: var(--lineHeightToShadowEdit);
}

.control .shadowEdit .check {
  z-index: 3;
  position: relative;
  transform: translateY(30%);
  width: 30px;
  height: 30px;
}

.control .shadowUnactive::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.384);
  height: 100%;
  width: 100%;
  z-index: 2;
}
